{
    "api_key": "YOUR_API_KEY_HERE",
    "api_url": "https://api.spoonacular.com/recipes",
    "user": "postgres",
    "host": "deploydevtwodb.internal",
    "database": "deploydevtwodb",
    "password": "PASSWORD_HERE",
    "port": 5432
}